<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>{{page.title}} {{page.subtitle}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/scripts/pdfjs/web/viewer.css">
        <link rel="resource" type="application/l10n" href="/scripts/pdfjs/web/locale/locale.properties">

    </head>

    <body>

        {{> pdfjs_viewer}}

        <!--<link rel="canonical" href=""/>-->
        <script src="/scripts/pdfjs/build/pdf.js"></script>
        <script src="/scripts/pdfjs/web/viewer.js"></script>
        <script>
            window.PDF_URL = '{{{ pdf_path }}}';
        </script>
        <script type="application/json" class="js-hypothesis-config">
          {
            "openSidebar": true,
            "assetRoot": "/hypothesis/"

          }
        </script>
        <script src="/scripts/annotater.bundle.js"></script>
    </body>
</html>