<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/index.css">

  <title>{{page.title}} {{page.subtitle}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<script src="/scripts/landing.bundle.js"></script>
<div id="main">
    <h1>{{page.title}}</h1>
    <h2>{{page.subtitle}}</h2>

    <div class="logo">
      <img src="/images/logo.svg" alt="Logo">
    </div>

    <span id="uploadapp">
        <uploadapp></uploadapp>
    </span>
</div>
</body>
</html>








</body>
</html>