<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <hypothesis-app></hypothesis-app>

        <script class="js-hypothesis-config" type="application/json">
             {"apiUrl":"http://localhost:5000/api/",
              "assetRoot":"/hypothesis/",
              "authDomain":"localhost",
              "serviceUrl":"http://localhost:5000/",
              "release":"1.1023.0.0",
              "appType":"chrome-extension",
              "oauthClientId": "a2556958-a9cc-11ec-a061-17298d8dd357"
             }
        </script>
        <script src="/hypothesis/build/boot.js"></script>

    </body>
</html>