version: "3"
services:
  postgres:
    image: postgres:11.5-alpine
    ports:
      - '127.0.0.1:5432:5432'
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 1s
  elasticsearch:
    image: hypothesis/elasticsearch:latest
    ports:
      - '127.0.0.1:9200:9200'
    environment:
      - discovery.type=single-node
  rabbit:
    image: rabbitmq:3.6-management-alpine
    ports:
      - '127.0.0.1:5672:5672'
      - '127.0.0.1:15672:15672'
  content_server:
    build:
      context: .
    depends_on:
      - h_server
    ports:
      - "80:3001"
  h_server:
    build: frameworks/hypothesis/h
    depends_on:
      - elasticsearch
      - postgres
      - rabbit
    ports:
      - "5000:5000"
    environment:
      - APP_URL=${APP_URL}
      - AUTHORITY=localhost
      - BROKER_URL=amqp://guest:guest@rabbit:5672//
      - CLIENT_OAUTH_ID=${CLIENT_OAUTH_ID}
      - CLIENT_URL=${CLIENT_URL}
      - DATABASE_URL=postgresql://postgres@postgres/postgres
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - NEW_RELIC_APP_NAME=h (dev)
      - NEW_RELIC_LICENSE_KEY=
      - SECRET_KEY=notasecret_