version: "3"
services:
  postgres:
    image: postgres:11.5-alpine
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 1s
  content_server:
    build:
      context: .
      args:
        ENV: ${ENV}
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 10
        window: 120s
    depends_on:
      - postgres
    ports:
      - ${PUBLISHED_PORT}:${CONTENT_SERVER_PORT}
  nlp:
    build:
      context: .
      dockerfile: nlp/Dockerfile
    depends_on:
      - rabbitmq
      - celery-worker
      - grobid
      - redis
    command: python3 app.py
  grobid:
    image: lfoppiano/grobid:0.7.0
  rabbitmq:
    image: rabbitmq:3.9-management-alpine
  redis:
    image: redis
  celery-worker:
    build:
      context: .
      dockerfile: nlp/Dockerfile
    environment:
      - C_FORCE_ROOT=true
    depends_on:
      - rabbitmq
      - redis
    command: celery -A app.celery worker -l INFO -P eventlet -E
  flower:
    image: mher/flower
    depends_on:
      - rabbitmq
      - celery-worker
    command: celery flower --broker=amqp://${RABBITMQ_HOST}:${RABBITMQ_PORT} --port=8888