version: "3"
services:
  postgres:
    image: postgres:11.5-alpine
    ports:
      - '127.0.0.1:5432:5432'
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 1s
  content_server:
    build:
      context: .
    ports:
      - "3001:3001"
  nlp:
    build: .
    depends_on:
      - rabbitmq
      - celery-worker
      - grobid
      - redis
    command: python3 app.py
    ports:
      - ${NLP_PORT}:6001
  grobid:
    image: lfoppiano/grobid:0.7.0
    ports:
      - ${GROBID_PORT}:8070
  rabbitmq:
    image: rabbitmq:3.9-management-alpine
    ports:
      - ${RABBITMQ_PORT}:5672
      - 15673:15672
  redis:
    image: redis
    ports:
      - ${REDIS_PORT}:6379
  celery-worker:
    environment:
      - C_FORCE_ROOT=true
    build: nlp
    depends_on:
      - rabbitmq
      - redis
    command: celery -A app.celery worker -l INFO -E
  flower:
    image: mher/flower
    depends_on:
      - rabbitmq
      - celery-worker
    command: celery flower --broker=amqp://rabbitmq:${RABBITMQ_PORT} --port=8888
    ports:
    - ${FLOWER_PORT}:8888