version: "3"
services:
  postgres:
    image: postgres:11.5-alpine
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 1s
  content_server:
    build:
      context: .
      args:
        ENV: ${ENV}
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 10
        window: 120s
    depends_on:
      - postgres
    ports:
      - ${PUBLISHED_PORT}:${CONTENT_SERVER_PORT}