version: "3"
services:
  docs_sphinx:
    build:
      context: .
      dockerfile: docs/Dockerfile
      args:
        ENV: ${ENV}
    image: docs_sphinx
    volumes:
      - ./docs:/docs
    command: make html
  postgres:
    image: postgres:11.5-alpine
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 1s
    restart: unless-stopped
  server:
    build:
      context: .
      args:
        ENV: ${ENV}
    volumes:
      - ./docs/build:/content-server/docs/build
      - ./docs/api:/content-server/docs/api
      - ./files:/content-server/files
      - ./logs:/backend/logs
    depends_on:
      - postgres
    ports:
      - ${PUBLISHED_PORT}:${CONTENT_SERVER_PORT}
    restart: unless-stopped
  rpc_test:
    build:
      context: ./utils/rpcs/test
      dockerfile: Dockerfile
    command: gunicorn --workers 1 --threads 100 --bind 0.0.0.0:8080 'main:create_app()' --access-logfile '-' --error-logfile '-'
    restart: unless-stopped
  rpc_moodle:
    build:
      context: ./utils/rpcs/moodleAPI
      dockerfile: Dockerfile
    command: gunicorn --workers 1 --threads 100 --bind 0.0.0.0:8081 'main:create_app()' --access-logfile '-' --error-logfile '-'
    restart: unless-stopped
  rpc_pdf:
    build:
      context: ./utils/rpcs/pdf
      dockerfile: Dockerfile
    command: gunicorn --workers 1 --threads 100 --bind 0.0.0.0:8082 'main:create_app()' --access-logfile '-' --error-logfile '-'
    restart: unless-stopped