@use "sass:color";

$grey-1: #f2f2f2;

$color-btn: $grey-1;

$sans-font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
  sans-serif !default;
$mono-font-family: Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;