
.UploadApp {
    margin-left: auto;
    margin-right: auto;

    width: 60%; 
    min-width: 200px;
    max-width: calc(min(700px, 60%));

    #drop_zone {
        margin-top: 10px;
        padding: calc(min(15px + 3.0vh, 700px)); 

        border-radius: 10px;
        border: 1px solid #ccc;

        transition: box-shadow .3s;
        background-color: white;

        img {
            width: 20%;
            
            opacity: 0.5;
        }
        p {
            opacity: 0.5;
        }

        #upload_error {
            display: none;

            font-size: 20px;
            color: red;
            opacity: 1;
        }

        #result {
            display: none;

            background-color: lightgrey;
            border-radius: 10px;

            border: 1px solid grey;
            color: black;
            width: 100%;
            text-align: center;
            font-size: 20px;
            padding-top: 5px;
            padding-bottom: 5px;

            cursor:pointer;
        }

        #result:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2); 
        }

        #result_link {
            display: none;

            input {
                display: none;
                background-color: white;
                border-radius: 10px;

                border: 1px solid black;
                color: black;
                width: 80%;
                text-align: left;
                padding: 10px;
            }

            button {    
                display: none;       
                background-color: lightgrey;
                border-radius: 10px;

                border: 1px solid grey;
                color: black;
                text-align: center;
                font-size: 20px;
                padding: 10px;

                margin-left: 5px;

                img {
                    color: black;
                    width: 20px;
                }
            }   
            
            button:hover {
                box-shadow: 0 0 11px rgba(33,33,33,.2); 
            }
            
        }
    }


    /*#drop_zone:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
        img {
            opacity: 0.9;
        }
        p {
            opacity: 0.9;
        }
    }*/
}