version: "3.1"

volumes:
  pdfstore:

services:
  nlp:
    build: .
    depends_on:
      - rabbitmq
      - celery-worker
      - grobid
      - redis
    command: python3 app.py
    ports:
      - ${NLP_PORT}:6001
    volumes:
      - pdfstore:/upload
  grobid:
    image: lfoppiano/grobid:0.7.0
    ports: 
      - ${GROBID_PORT}:8070
    volumes:
      - pdfstore:/upload
  rabbitmq:
    image: rabbitmq:3.9-management-alpine
    ports:
      - ${RABBITMQ_PORT}:5672
      - 15672:15672
  redis:
    image: redis
    ports:
      - ${REDIS_PORT}:6379
  celery-worker:
    environment:
      - C_FORCE_ROOT=true
    build: .
    depends_on:
      - rabbitmq
      - redis
    command: celery -A app.celery worker -l INFO -E
    volumes:
      - pdfstore:/upload
  flower:
    image: mher/flower
    depends_on:
      - rabbitmq
      - celery-worker
    command: celery flower --broker=amqp://rabbitmq:${RABBITMQ_PORT} --port=8888
    ports:
      - ${FLOWER_PORT}:8888