name: CI Pipeline

on:
  push:
    branches:
      - dev
      - main
  pull_request:

env:
  DOCKER_TLS_CERTDIR: ""
  GIT_SUBMODULE_STRATEGY: recursive

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:24.0.7-dind
        options: --privileged
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_TEST_USER }}
          password: ${{ secrets.DOCKER_TEST_TOKEN }}
      - name: Set up Docker
        uses: docker/setup-buildx-action@v3
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y make nodejs npm
      - name: Build project
        run: |
          make ENV=dev build
          docker wait care_dev-docs_sphinx-1
          docker compose -p "care_dev" rm -f -s -v
          tar -czvf docs.tar.gz ./docs/build
      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: docs.tar.gz

  sync_to_gitlab:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to GitLab via HTTPS
        env:
          GITLAB_USER: ${{ secrets.GITLAB_USER }}
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
          BRANCH: ${{ github.ref_name }}
        run: |
           git remote add gitlab https://$GITLAB_USER:$GITLAB_TOKEN@git.ukp.informatik.tu-darmstadt.de/${path_to_gitlab_repo}.git
           git push gitlab $BRANCH
